<!-- 
  ===================================================================
  COMPOSANT HOME - PAGE D'ACCUEIL
  ===================================================================
  
  Description : 
  Page principale de l'application affichant une vue d'ensemble des performances olympiques par pays.
  
  Fonctionnalités :
  - Affichage du titre principal
  - Affichage des statistiques attendues 
  - Graphique interactif pour visualiser la répartition des médailles par pays
  
  Navigation :
  Le clic sur une part du graphique redirige vers la page de détails
  du pays sélectionné.
  ===================================================================
-->

<h1 class="stat-item">
    <strong>Medals per Country</strong>
</h1>

<div class="details-box stats-row">

  <div class="stat-item">
  <span class="label">Number of JOs</span>
  <span class="value">{{ numberOfOlympics() }}</span>
</div>

<div class="stat-item">
  <span class="label">Number of Countries</span>
  <span class="value">{{ numberOfCountry() }}</span>
</div>

</div>

<div class="chart-wrapper">
  <app-pie-chart></app-pie-chart>
</div>
