/* Style g茅n茅ral du tooltip */
.ngx-charts-tooltip-content.type-tooltip {
    background: rgb(0, 165, 184) !important;
    color: #fff !important;
    font-size: 16px !important;
    text-align: center;
    padding: 14px 18px !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25) !important;
}

/* Titre du pays */
.ngx-charts-tooltip-content.type-tooltip .tooltip-title {
    font-size: 18px !important;
    font-weight: 500 !important;
    margin-bottom: 6px !important;
}

/* Zone content : ic么ne + valeur align茅es horizontalement */
.ngx-charts-tooltip-content.type-tooltip .tooltip-content {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 6px !important; /* petit espace entre ic么ne et nombre */
    font-size: 20px !important;
    font-weight: 600 !important;
}

/* Ajout de lic么ne avant la valeur */
.ngx-charts-tooltip-content.type-tooltip .tooltip-content::before {
    content: ""; /* Ic么ne m茅daille */
    font-size: 22px; /* Taille adapt茅e pour ressembler  ton exemple */
    margin-right: 2px;
    line-height: 1;
    display: flex;
    align-items: center;
}
